<!-- <highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions">
</highcharts-chart> -->

<!-- add Material typography styles to the chart title -->
<!-- <h1 class="mat-h1">{{ chartOptions.title.text }}</h1> -->

<!-- use Material card styles to wrap the chart -->
<!-- <mat-card>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions">
  </highcharts-chart>
</mat-card> -->


<div class="chart-container mat-elevation-z8">
    <div id="chart"></div>
    
 </div>
